# developmentを設定することで、shrinkwrap、outdated、updateコマンドを実行するときにdevを含めるようにしてくれる。
also=development

# フロントエンド向け開発だと、shrinkwrap
save-exact=true

# Node.jsのバージョンが合致しなかった場合はnpm installを失敗扱いにしてくれる。
engine-strict=true
